################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GoogleSheet/FileContentIndex/101addc5-10d8-4dcb-a729-6e2a9caf1193.vsidx
